h1 {
    margin-top: 150px;
    margin-bottom: 50px;
    font-family: Century Gothic;
    text-align: center;
    color: var(--ion-color-dark);
}

h2 {
    font-family: Century Gothic;
    text-align: center;
    color: var(--ion-color-dark);
}

ion-button {
    margin: 20px;
    width: auto;
    height: 50px;
    color: var(--ion-color-light);
}